.mem-logo {
	height: 1em;
   	vertical-align:0em;
}

.paral {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /*background-position: 50% 50%;*/
}
/*
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}*/
 

/* Heading for Parallax Section */ 
.paral h1 {
color: #f5f5f5;
font-size: 50px;
text-shadow: 3px 3px 6px #050505;
/*padding-top: 60px;*/
/*line-height: 100px;*/
}

.pubimg {
	max-width: 100%;
}