---
title: Grotjahn Lab Members
layout: members
group: members
banner: /static/img/banners/slicer000_01.png
---
<!-- 
<h1>Grotjahn Lab Members</h1>
 -->


<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
{% assign sorted_members = site.members | sort: 'startdate' | sort: 'order' %}
{% for person in sorted_members %}
<div id = "{{person.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <img class="img-responsive pubimg" src="{{person.image}}" {% if person.altimage %} onmouseover="this.src='{{person.altimage}}';" onmouseout="this.src='{{person.image}}';" {% endif %} alt="{{person.name}}"><br>
        <strong>{{person.name}}</strong> <br>
        {% if person.pronouns %}
          <em>{{person.pronouns}}</em> <br>
        {% endif %}

        {{person.position}}{% if person.funding %}, {{person.funding | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}<br>
        {% if person.cv %} 
        <a href="{{person.cv}}" alt="{{person.name}} CV">curriculum vitae</a><br>
        {% endif %}

        {% if person.email %}
        <em>{{person.email}}</em> <br>
        {%endif%}
        {% if person.website %}
          <a style="overflow-wrap: break-word;" href= "{{person.website}}">{{person.website}}</a> <br>
        {% endif %}
        {% if person.orcid %}
          <a href="http://orcid.org/{{person.orcid}}" class="align-middle"> 
          <img class="inline-block mem-logo" src="/static/img/logo/orcid_logo.svg">
        {{person.orcid}}
        </a> <br>
        {% endif %}
        {% if person.linkedin %}
          <a href= "http://www.linkedin.com/in/{{person.linkedin}}"> 
          <img class="inline-block mem-logo" src="/static/img/logo/linkedin_logo.svg">
          LinkedIn </a> <br>
        {% endif %}
        {% if person.scholar %}
          <a href= "http://scholar.google.com/citations?user={{person.scholar}}">
          <img class="inline-block mem-logo" src="/static/img/logo/gscholar_logo.svg">
          Scholar Citations </a> <br>
        {% endif %}
        {% if person.twitter %}
          <a href= "http://twitter.com/{{person.twitter}}">
            <img class="inline-block mem-logo" src="/static/img/logo/twitter_logo.svg">
            @{{person.twitter}} 
          </a> <br>
        {% endif %}
        {% if person.github %}
          <a href= "http://github.com/{{person.github}}"> {% octicon mark-github %} {{person.github}} </a> <br>
        {% endif %}
    </div>
    <div class="col-sm-8 text-justify">
        {{person.content}}
    </div>
</div>
{% if forloop.last == false %}
<hr>
{% endif %}
{% endfor %}
<hr>
